* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: linear-gradient(135deg, #dfe6e9, #a1c4fd);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.login-container {
    background-color: #ffffff;
    padding: 50px 70px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    text-align: center;
}


.login-container h1 {
    font-size: 28px;
    color: #48620a;
    margin-bottom: 40px;
}


.login-options a {
    display: block;
    font-size: 20px;
    margin: 20px auto;
    width: 220px;
    background: linear-gradient(to right, #74d8ff, #4309e3);
    color: white;
    padding: 15px;
    border-radius: 12px;
    text-decoration: none;
    box-shadow: 0 4px 12px rgba(9, 132, 227, 0.2);
    transition: all 0.3s ease;
}


.login-options a:hover {
    color: #f1f2f6;
    transform: translateY(-3px) scale(1.03);
    box-shadow: 0 8px 20px rgba(151, 227, 9, 0.4);
}
